@model ReklamEvMVCProject.Models.PRODUCT

@{
    ViewBag.Title = "Məhsullar";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<section id="page" class="container">
    <div class="mTop-30">

        <div class="row">
            @foreach (var item in ViewBag.ProductsList)
            {
                <div class="col-sm-4">
                    <div class="deal-entry orange">

                        <div class="image">
                            
                                <img src="@item.SINGLE_PHOTO" alt="#" class="img-responsive" style="width: 360px; height: 216px;">
                                @*<img src="@item." alt="Image" />*@
                                @*<img src="@Url.Content(item.SINGLE_PHOTO)" class="img-responsive" alt="Image" />*@
                                @*<img src="~/imageServer/@Url.Content(item.SINGLE_PHOTO)" class="img-responsive" />*@
                          
                        </div>
                        <!-- /.image -->
                        <div class="title">
                          
                                @item.NAME
                           
                        </div>
                        <div class="entry-content" style="height: 147px; overflow-y: hidden;">
                            <div class="prices clearfix">
                                <div class="price">
                                    <b>
                                        @item.PRICE
                                    </b>

                                    <b>
                                        AZN
                                    </b>
                                </div>
                            </div>
                            <p>
                                @item.DESCRIPTION
                            </p>
                        </div>
                        <!--/.entry content -->
                        <footer class="info_bar clearfix">
                            <ul class="unstyled list-inline row">
                                <li class="info_link col-sm-5 col-xs-6 col-lg-4">
                                    @*<a href="#" class="btn btn-block btn-default btn-raised btn-sm">
                Məhsula bax
            </a>*@
                                    @*<a href="@Url.Action("ProductDetail", "Home")" class="btn btn-block btn-default btn-raised btn-sm">Məhsula bax</a>*@
                                    @Html.ActionLink("Məhsula bax", "ProductDetail", "Home", new { id = item.ID }, new { @class = "btn btn-block btn-default btn-raised btn-sm" })
                                
                                </li>
                            </ul>
                        </footer>
                    </div>
                </div>
            <!-- /.deal -->

            }

        </div>
        <!--/.row -->
    </div>
</section>
<!-- /#page ends -->

